<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "/fragment/general.html :: head"></head>
<body><br><br>
	<h2>ADMIN ACCESS</h2>
	<div class="access">
	
		<p>Welcome! You are currently logged in as a admin and you are authorised 
		<br> to perform and view following componenets in the employee database.<p><br>
		
		<b>Add a new employee data:&nbsp;&nbsp;</b><a href="/admin/employeeDataInput" th:href="@{/admin/employeeDataInput}">Add Employee</a><br><br>
		<b>Editable list of employees:&nbsp;&nbsp;</b><a href="/admin/listOfEditableEmployees" th:href="@{/admin/listOfEditableEmployees}">Edit / Delete</a><br><br>
		
		<a href="/index">Home</a>
	</div>

	<footer th:replace = "/fragment/general.html :: footer"></footer>
	
</body>
</html>